[Unit]
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/api-f5-container.sh start
ExecStop=/usr/bin/api-f5-container.sh stop
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
