[mariadb]
plugin_load_add = server_audit
server_audit=FORCE_PLUS_PERMANENT
server_audit_logging = on
server-audit-output-type = syslog
server_audit_syslog_ident = 'mysql-server_auditing'
# server_audit_syslog_info = 'info string'
server_audit_syslog_facility = 'LOG_DAEMON'
server_audit_syslog_priority = 'LOG_INFO'


